*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header h1{
    margin: 10px;
    font-size: x-large;
}

.navbar-link{
    color: white;
}

.table{
    margin: 15px;
}

.hide{
    display: none;
}

.country-info{
    margin-top: 56px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.country-info h1{
    font-size: 100px;
    font-weight: bolder;
}

.box{
    border-style: solid;
}