*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #800000;
   color: whitesmoke;
}

header h1{
    margin: 10px;
    font-size: x-large;
    font-family: 'Train One', cursive;
}

.navbar-link{
    color: white;
}

.navbar-dropdown{
    text-align: center;
    background-color: black;
    color: white;
}

.table{
    margin: 15px;
    background-color: #800000;
}

.table th{
    color: whitesmoke;
    background-color: #800000;
}

.table tr{
        color: whitesmoke;
        background-color: #800000;
}

.table:hover {
    color: #800000;
    background-color: whitesmoke;
    box-shadow: 1px 1px 2px black, 0 0 25px #800000, 0 0 5px #800000
}

.country-info{
    margin-top: 56px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: inline-block;
    width: 100%;
}

.favourite{
    background-color: #800000;
    border-color: whitesmoke;
    font-size: 20px;
    color: white;
    cursor:pointer;
    user-select:none;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s; /* Safari */
  }

  .favourite:hover{
    background-color: #800000;
  }

  

.country-info h1{
    font-size: 100px;
    font-weight: bolder;

}

.box{
    border-style: solid;
    margin: 20px;
    width: 200px;
    height: 150px;
    
}

.matches {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
}

.match1{
    color: whitesmoke;
    background-color: #800000;
}

.match2{
    color: whitesmoke;
    background-color: #800000;
}

.match3{
    color: whitesmoke;
    background-color: #800000;
}

.match1:hover {
    color: #800000;
    background-color: whitesmoke;
    box-shadow: 1px 1px 2px black, 0 0 25px #800000, 0 0 5px #800000
}

.match2:hover {
    color: #800000;
    background-color: whitesmoke;
    box-shadow: 1px 1px 2px black, 0 0 25px #800000, 0 0 5px #800000
}

.match3:hover {
    color: #800000;
    background-color: whitesmoke;
    box-shadow: 1px 1px 2px black, 0 0 25px #800000, 0 0 5px #800000
}

.round{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-decoration: underline;
}

.date{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.teams {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.scores {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.grow { 
    transition: all .2s ease-in-out; 
    }
    
    .grow:hover { 
    transform: scale(1.1); 
    }

    .hide{
        display: none;
    }